$bgColorPrimary: #eafaff;

footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: $bgColorPrimary;
  padding: 20px;

  @media (max-width:$movileWindow) {
    flex-direction: column;
    justify-content: flex-start;
    .footer-data-container {
      font-size: 0.8em;
      div {
        display: flex;
        flex-direction: column;
        line-height: 20px;
        margin-top: 5px;
      }
    }
  }
  .footer-data-container {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    letter-spacing: 2px;
    line-height: 25px;
  
    .copyright {
      margin-top: 12px;
      color: #298df1;
    }
    div {
      display: flex;
    }
  }
  .social-media-container {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 10px;
    img {
      width: 50px;
      height: 50px;
      @media (max-width:$movileWindow) {
        width: 30px;
        height: 30px;
        margin-left: 20px;
      }
    }
  }
}

