* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* TEXT */
$normalText: #212121;
$colorPrimary: #fffbfb;
$colorSecundary: #1a1919;
/* TITLE-TEXT */
$colorSubtitle: #f63636;
$colorTitle: #000000;
/* BACKGROUND */
$bgColorHoverItem: #4ca3fb;
$bgColorPrimary: #eafaff;
$bgColorSecundaty: #ffbcff;
/* HEIGHT */
$heightHeader: 60px;
/* WIDTH */
$movileWindow: 720px;