/* HEADER */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $bgColorPrimary;
  height: $heightHeader;
  width: 100%;
  @media (max-width: $movileWindow) {
    justify-content:space-between;
  }
  .burger-menu {
    cursor: pointer;
    display: none;
    @media (max-width: $movileWindow) {
      width: 60px;
      height: $heightHeader;
      display: block;
    }
  }

  .link-container {
    display: flex;
    transition: transform .3s;
    height: $heightHeader;
    @media (max-width: $movileWindow) {
      transform: translateY(-200px);
      z-index: -100;
      flex-direction: column;
      width: 100%;
      position: absolute;
      .link {
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
    .link {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $colorSecundary;
      text-decoration: none;
      transition: all .2s 'ease-in';
      height: $heightHeader;
      width: 100%;
      padding-inline: 10px;
      min-width: 80px;

      &:hover {
        background-color: $bgColorHoverItem;
        color: $colorPrimary;
      }
    }
  }

  .link-container-visible {
    @extend .link-container;
    @media (max-width: $movileWindow) {
      position: absolute;
      transform: translateY(60px);

    }
  }
}

.title {
  font-size: 2.2em;
  @media (max-width:$movileWindow) {
    font-size: larger;
  }
}
