/* Variables */

$colorPrimary: #f5fdff;
$colorSecundary: rgb(76, 163, 251);
$bgColorPrimary: rgb(4, 11, 8);
$bgColorSecundaty: #ffbcff;
$colorSubtitle: rgb(246, 54, 54);
$colorTitle: #fffcee;

body {
  background-color: $bgColorPrimary;
  .title {
    color: $colorTitle;
  }
}

article {

  background-color: $bgColorSecundaty;
  padding: 20px;
  .title {
    color: $colorTitle;
  }
  .autor {
    color: $colorSubtitle;
  }
  p a {
    text-decoration: none;
    color: $colorSecundary;
    &:hover {
      text-decoration: underline;
    }
  }
}

