<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Plantilla-1</title>
  <link rel="stylesheet" href="../scss/css/index.css">
</head>
<body>
  <header>
    <h1 class="title">Título de la página</h1>
  </header>

  <article class="article">
    <h2 class="title">Título de mi Artículo</h2>
    <p class="autor">Sinergia</p>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit.
       Et qui harum alias voluptate repellat eum possimus, autem magni 
       dolor impedit repellendus, laborum ipsa itaque maiores facilis atque 
       consequuntur, id laboriosam!
       <a href="href://google.com">Google</a>
    </p>
  </article>
</body>
</html>